<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Contact Me</title>		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form>
			
			<div class="form-group container-fluid col-md-12 headerStyle">Contact Me</div>	
			<div class="form-group container-fluid col-md-12">		
				<div class="row">
					<div class="col-lg-2 col-sm-3 col-xs-4 divText">Visitor Name:</div>					
					<div class="col-lg-9 col-sm-8 col-xs-7 divText" ><input type="text" name="name" class="form-group" placeholder="Ex: Partha Biswas" required/></div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-sm-3 col-xs-4 divText">Mobile#:</div>					
					<div class="col-lg-9 col-sm-8 col-xs-7 divText" ><input type="number" name="mobile" class="form-group" max="9999999999" required/></div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-sm-3 col-xs-4 divText">Email:</div>					
					<div class="col-lg-9 col-sm-8 col-xs-7 divText"><input type="email" name="email" class="form-group" placeholder="example@example.com" required
					pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"/></div>
				</div>
				<div class="row">
					<div class="col-lg-2 col-sm-3 col-xs-4 divText">Remarks:</div>					
					<div class="col-lg-9 col-sm-8 col-xs-7 divText" ><textarea class="form-group" rows="5" cols="50"></textarea></div>
				</div>
			</div>
			<div class="form-group container col-md-12 headerStyle">
			<button type="button" class="btn btn-secondary btn-sm" id="contactButton" >Submit</button>
      </div>
			
			
			<!--div> <p><a href="navigation.html">Return to Navigation</a></p></div-->
		</form>
	</body>
</html>
	
				
					
