/*body {
    background-color: lightblue;
}*/
/*h3 {
    color: #005580;
    font-family: verdana;
    font-size: 20px;

}*/
.headerStyle {
    color: #005580;
    font-family: verdana;
    font-size: 20px;
	font-weight: bold;

}
h4 {
    color: #005580;
    font-family: verdana;
    font-size: 20px;

}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}

td  {
    color: black;
    font-family: courier;
    font-size: 15px;
}

.divText  {
    color: black;
    font-family: courier;
    font-size: 15px;
	padding-bottom:0px; margin-bottom:0px;
	padding-top:0px; margin-top:0px;
}

.nameStyle { 
	color: black;
    font-family: courier;
    font-size: 20px;
    font-weight: bold;
}


.buttonGreen {
    background-color: #006600;
    border: none;
    color: white;
    padding: 6px 6px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px 1px;
    cursor: pointer;
}






iframe {
    display: block;       /* iframes are inline by default */
    /*background: #000;*/
    border: none;         /* Reset default border */
    height: 95vh;        /* Viewport-relative units */
    width: 80vw;
}




.sidenav {
    height: 95vh;
    /*width: 200px;*/
    /*position: fixed;*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.sidenav a {
    text-decoration: none;    
    color: black;
    font-family: courier;
    font-size: 15px;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}